*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clockContainer{
    height: 30vh;
    width: 50vw;
    background-color: rgb(213, 108, 108);
    margin: auto;
    display: flex;
}

.hour,.minutes,.seconds{
    background-color: red;
    width: 10vw;
    height: 10vh;
    display: flex   ;
    gap: 10px;
}

